@model ProjektniZadatak.Models.Atributiartikla

@{
    ViewData["Title"] = "Izmijeni";
}

<h1>Izmijeni</h1>

<h4>Atributi artikla</h4>
<hr />
<div class="row" align="center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Artikalid" />
            <input type="hidden" asp-for="Vrstaatributaid" />
            <div class="form-group">
                <label asp-for="Vrijednostatributa" class="control-label"></label>
                <input asp-for="Vrijednostatributa" class="form-control" />
                <span asp-validation-for="Vrijednostatributa" class="text-danger"></span>
            </div><br />
            <div class="form-group" align="center">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
