@model ProjektniZadatak.Models.Jedinicamjere

@{
    ViewData["Title"] = "Dodaj";
}

<h2>Dodaj jedinicu mjere</h2>

<hr />
<div class="row" align="center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Jedinicamjerenaziv" class="control-label"></label>
                <input asp-for="Jedinicamjerenaziv" class="form-control" />
                <span asp-validation-for="Jedinicamjerenaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jedinicamjereskracenica" class="control-label"></label>
                <input asp-for="Jedinicamjereskracenica" class="form-control" />
                <span asp-validation-for="Jedinicamjereskracenica" class="text-danger"></span>
            </div><br />
            <div class="form-group" align="center">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
