@model ProjektniZadatak.Models.Jedinicamjere

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>
<br />
<div>
    <h4>Jedinice mjere</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jedinicamjerenaziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jedinicamjerenaziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jedinicamjereskracenica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jedinicamjereskracenica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Jedinicamjereid">Izmijeni</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
